.home {
  background-image: url("../../../assets/home/background-home-mobile.jpg");
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 100vw;
  margin-top: 5em;
  position: relative;
}
.home__content span:nth-of-type(1) {
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: 16px;
}
.home__content span:nth-of-type(2) {
  font-family: var(--ff-tertiary);
  font-size: 80px;
}
.home__content span:nth-of-type(3) {
  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  text-align: center;
  width: 325px;
  font-size: 15px;
}
.home__content__cta {
  width: 150px;
  height: 150px;
  background: var(--clr-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
    top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.home__content__cta .cta_explore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: var(--clr-tertiary);
  font-size: 1rem;
  font-family: var(--ff-tertiary);
  letter-spacing: 0.125rem;
  z-index: 1;
}
.home__content__cta .cta_explore::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--clr-primary);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.home__content__cta .cta_explore:hover::after {
  animation: pulse 1.3s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    background-image: url("../../../assets/home/background-home-tablet.jpg");
  }
  .home__content span:nth-of-type(1) {
    letter-spacing: 3.37px;
    font-size: 1.3rem;
  }
  .home__content span:nth-of-type(2) {
    font-size: 150px;
  }
  .home__content span:nth-of-type(3) {
    width: 530px;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .home__content__cta {
    width: 270px;
    height: 270px;
    top: 65%;
  }
  .home__content__cta .cta_explore {
    width: 270px;
    height: 270px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1025px) {
  .home {
    background-image: url("../../../assets/home/background-home-desktop.jpg");
  }
  .home__content {
    align-items: flex-start;
    gap: 1.5em;
    width: 100vw;
    margin-top: 15em;
    margin-left: 10em;
    position: relative;
  }
  .home__content span:nth-of-type(1) {
    letter-spacing: 4.725px;
    font-size: 1.75rem;
  }
  .home__content span:nth-of-type(2) {
    font-size: 9.5rem;
  }
  .home__content span:nth-of-type(3) {
    width: 444px;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: left;
  }
  .home__content__cta {
    width: 274px;
    height: 274px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(15em, 2em);
  }
}
